@font-face {
    font-family:"Open Sans";
    src: url(/fonts/Open_sans.ttf);
}
@font-face {
    font-family:"Raleway";
    src: url(/fonts/Raleway.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.banner{
    margin: 0 auto;
    min-height: 1100px;
    position: relative;
    background: rgba(0,0,0,0.6);
}
.banner::after{
    content: '';
    display: block;
    min-height: 1100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    background-image: url("/images/street.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__container{
    margin: 0 auto;
    max-width: 1170px;
    height: 1100px;
    display: flex;
    align-items: center;
}
.banner__content-left{
    margin-left: 30px;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__logo{
    width: 270px;
    height: 100px;
}
.banner__title{ 
    font-family: "Raleway";
    font-style: normal;
    max-width: 670px;
    min-height: 168px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.banner__title::after{
    content: '';
    bottom: -55px;
    left: 0;
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}
.banner__subtitle{
    margin-top: 95px;
    max-width: 270px;
    min-height: 42px; 
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.banner__button-1{
    margin-top: 40px;
    width: 270px;
    height: 58px;
    border: 2px solid #FFFFFF;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}
.banner__button-1:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}
.banner__button-1:active{
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}
.banner__content-right{
    max-width: 470px;
    width: 40%;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.banner__title-right{
    max-width: 367px;
    min-height: 90px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.banner__title-right span:nth-child(2){
    color: rgba(236, 121, 121, 1);
    margin-left: 8px;
    margin-right: 8px;
}
.banner__input{
    width: 370px;
    height: 40px;
    margin-bottom: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #BDBDBD;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.banner__button-2{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.banner__button-2:hover{
    background: #AB4949;
}
.banner__button-2:active{
    background: #EC7979;
}
.social{
    margin: 0 auto;
    background: #F8EFEF;
}
.social__container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    height: 140px;
    display: flex;
    position: relative;
}
.social__text-container{
    max-width: 470px;
    margin-right: 50px;
}
.social__title{
    min-height: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #333333;
}
.social__subtitle{
    min-height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #86878B;
}
.social__subtitle br:first-child{
    display: none;
}
.social__icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    cursor: pointer;
}
.social__icon-cell{
}
.social__icon-container:hover{
    opacity: 65%;
}
.social__facebook-icon{
    fill: #CCCCCC;
}
.social__facebook-icon:hover{
    fill: #3b5998;
}
.social__twitter-icon{
    fill: #CCCCCC;
}
.social__twitter-icon:hover{
    fill: #1d9bf0;
}
.social__linkedin-icon{
    fill: #CCCCCC;
}
.social__linkedin-icon:hover{
    fill: #010101;
}
.social__pinterest-icon{
    fill: #CCCCCC;
}
.social__pinterest-icon:hover{
    fill: #cc0000;
}
.social__instagram-icon{
    fill: #CCCCCC;
}
.social__instagram-icon:hover{
    fill: #000000;
}
.social__github-icon{
    fill: #CCCCCC;
}
.social__github-icon:hover{
    fill: #24292f;
}
.social__rss-icon{
    fill: #CCCCCC;
}
.social__rss-icon:hover{
    fill: #f76300;
}
.tabs{
    margin-top: 99px;
}
.tabs__container{
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.tabs__tabs{
    display: flex;
    max-width: 1170px;
    height: 40px;
    position: relative;
}
.hidden-radio{
    display: none;
}
#hidden-radio-first-item:checked ~ .tabs__tabs .tabs__first-tab,
#hidden-radio-second-item:checked ~ .tabs__tabs .tabs__second-tab,
#hidden-radio-third-item:checked ~ .tabs__tabs .tabs__third-tab{
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    width: 203px;
    position: relative;
}
#hidden-radio-first-item:checked ~ .tabs__tabs .tabs__first-tab::after,
#hidden-radio-second-item:checked ~ .tabs__tabs .tabs__second-tab::after,
#hidden-radio-third-item:checked ~ .tabs__tabs .tabs__third-tab::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 35px;
    width: 203px;
    height: 5px;
    background-color: white;
}
.tabs__first-tab{
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.tabs__second-tab{    
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.tabs__third-tab{    
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.tabs__content{
    box-sizing: border-box;
    position: relative;
    max-width: 1170px;
    min-height: 501px;
    border: 1px solid #C6CBCD;
    display: none;
}
.tabs__title{
    max-width: 570px;
    min-height: 124px;
    position: absolute;
    top: 1px;
    left: 8.54vw;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000;
}
.tabs__lorem-text{
    max-width: 570px;
    min-height: 210px;
    position: absolute;
    top: 101px;
    left: 4.27vw;
    box-sizing: border-box;
    padding: 4.27vw;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}
.tabs__button{
    width: 270px;
    min-height: 58px;
    position: absolute;
    left: 8.54vw;
    bottom: 45px;
    cursor: pointer;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #EC7979;
    border: none;
}
.tabs__button:hover{
    background: #AB4949;
}
.tabs__button:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.tabs__content > img{
    float: right;
    width: 470px;
    height: 500px;
}
#hidden-radio-first-item:checked ~ .tabs__panels #tabs-first-panel,
#hidden-radio-second-item:checked ~ .tabs__panels #tabs-second-panel,
#hidden-radio-third-item:checked ~ .tabs__panels #tabs-third-panel{
    display: block;
}
.about{
    margin-top: 50px;
}
.about__container{
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
}
.about__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__header-title{
    display: flex;
    align-items: center;
    height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    color: #000000;
}
.about__header-separator{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    border-top: 0px;
}
.about__header-subtitle{
    display: flex;
    align-items: center;
    height: 21px;
    margin-top: 40px;
    margin-bottom: 71px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;    
}
.about__icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
}
.about__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.about__footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    height: 383px;
}
div.about__footer-content h4{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 369px;
    height: 100px;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}
div.about__footer-content h5{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 369px;
    padding-left: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.pricing{
    margin-top: 60px;
    background: #F5F5F5;
}
.pricing__container{
    margin: 0 auto;
    max-width: 1508px;
    min-height: 900px;
    background: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}
.pricing__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}
.pricing__header-title{
    margin-top: 50px;
    max-width: 1170px;
    height: 150px;
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.pricing__header-subtitle{
    margin-top: 40px;
    max-width: 1170px;
    height: 21px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.pricing__header-title::after{
    position: absolute;
    bottom: 10px;
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.pricing__footer{
    max-width: 1508px;
    display: flex;
    justify-content: center;
}
.pricing__prices-container{
    max-width: 1170px;
    width: 77.58vw;
    height: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing__prices{
    width: 24.53vw;
    max-width: 370px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__prices:hover{
    align-self: baseline;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    cursor: pointer;
}
.pricing__prices-title{
    width: 24.53vw;
    max-width: 370px;
    min-height: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #FFFFFF;
}
.pricing__prices-bucks{
    width: 24.53vw;
    max-width: 370px;
    height: 100px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.pricing__prices-content{
    width: 24.53vw;
    max-width: 370px;
    height: 50px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.pricing__prices-free{
    width: 24.53vw;
    max-width: 370px;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
}
.reviews{
    margin-top: 50px;
    max-width: 1508px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.hidden-radio-2{
    display: none;
}
.reviews__container{
    margin: 0 auto;
    max-width: 1170px;
}
.reviews__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__header-title{
    height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;    
    color: #000000;
    position: relative;
}
.reviews__header-title::after{
    position: absolute;
    bottom: 10px;
    left: calc(100%/2.8);
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.reviews__header-subtitle{
    margin-top: 40px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.reviews__text-bubbles{
    display: flex;
    justify-content: center;
    margin-top: 83px;
}
.reviews__qoutes{
    max-width: 370px;
    min-height: 180px;
    margin-right: 30px;
    padding: 0 7px;
    background: #E2E2E2;
    border-radius: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #86878B;
    position: relative;
}
.reviews__qoutes::after{
    content: '';
    width: 30px;
    height: 20px;
    transform: rotate(-180deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #E2E2E2;
    position: absolute;
    bottom: -20px;
    left: 70px;
    display: block;
}
.reviews__employees-container{
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
}
.reviews__employees{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.reviews__employees > img{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.reviews__employees-names{
    min-height: 54px;
    margin-left: 6.63vw;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}
.reviews__employess-positions{
    max-width: 270px;
    margin-left: 6.63vw;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    color: #000000;
}
.banner-2{
    margin: 0 auto;
    margin-bottom: 50px;
    min-height: 442px;
    position: relative;
    background: rgba(0,0,0,0.5);
}
.banner-2::after{
    content: '';
    display: block;
    min-height: 442px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    background-image: url("/images/from_above.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-2__container{
    max-width: 1170px;
    min-height: 442px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-2__header{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-2__header-title{
    max-width: 100%;
    min-height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.banner-2__header-title::after{
    content: '';
    bottom: 10px;
    left: calc(50% - 85px);
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}
.banner-2__header-subtitle{
    max-width: 100%;
    min-height: 21px;
    margin-top: 40px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.banner-2__button{
    width: 370px;
    height: 51px;
    margin-top: 75px;
    border: 2px solid #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;    
}
.banner-2__button:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}
.banner-2__button:active{
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFFFFF;
}
.contact{
    margin: 0 auto;
}
.contact__container{
    margin: 0 auto;
    max-width: 1170px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__header{
    max-width: 100%;
}
.contact__header-title{
    max-width: 100%;
    min-height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}
.contact__header-title::after{
    content: '';
    bottom: 10px;
    left: calc(50% - 85px);
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.contact__header-subtitle{
    max-width: 100%;
    min-height: 40px;
    margin-top: 40px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.contact__input-container{
    max-width: 1170px;
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact__input{
    width: 45%;
    max-width: 570px;
    min-height: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.contact__input-container textarea{
    position: absolute;
    top: 13px;
    left: 47%;
}
.contact__button{
    width: 370px;
    height: 58px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    color: #FFFFFF;
    background-color: #EC7979;
    cursor: pointer;
}
.contact__button:hover{
    background-color: #AB4949;
}
.contact__button:active{
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.footer{
    margin-top: 50px;
    margin: 0 auto;
    background-color: #000000;
    min-height: 164px;
}
.footer__container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 50%;
    margin-top: 30px;
}
.footer__icon-cell{
    fill: #CCCCCC;
    cursor: pointer;
}
.footer__facebook-icon:hover{
    fill: #3b5998;
}
.footer__twitter-icon:hover{
    fill: #1d9bf0;
}
.footer__linkedin-icon:hover{
    fill: #4b76a1;
}
.footer__pinterest-icon:hover{
    fill: #cc0000;
}
.footer__instagram-icon:hover{
    opacity: 85%;
}
.footer__github-icon:hover{
    fill: #455a64;
}
.footer__rss-icon:hover{
    fill: #f76300;
}
.footer__copyright{
    margin-top: 28px;
    max-width: 100%;
    min-height: 21px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
@media(max-width : 1024px) {
    .banner{
        margin: 0 auto;
        height: 768px;
        position: relative;
        background: rgba(0,0,0,0.6);
    }
    .banner::after{
        content: '';
        display: block;
        height: 768px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        background-image: url("/images/street.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner__container{
        margin: 0 auto;
        max-width: 992px;
        height: 768px;
        display: flex;
        align-items: center;
    }
    .banner__content-left{
        margin-left: 80px;
        width: 58%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner__logo{
        width: 183px;
        height: 75px;
        transform: scale(85%);
        align-self: flex-start;
    }
    .banner__title{ 
        max-width: 454px;
        min-height: 126px;
        font-size: 36px;
        line-height: 42px;
    }
    .banner__title::after{
        width: 116px;
    }
    .banner__subtitle{
        max-width: 183px;
        min-height: 42px; 
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .banner__button-1{
        width: 183px;
        height: 50px;
    }
    .banner__content-right{
        max-width: 398px;
    }
    .banner__title-right{
        max-width: 367px;
        min-height: 90px;
        font-size: 18px;
        line-height: 25px;
    }
    .banner__input{
        width: 75%;
        height: 40px;
        margin-bottom: 35px;
    }
    .banner__button-2{
    }
    .social{
    }
    .social__container{
        max-width: 1024px;
        min-height: 105px;
    }
    .social__title{
        margin-left: 1.56vw;
        max-width: 402px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
    }
    .social__subtitle{
        margin-left: 1.56vw;
        top: 60px;
        max-width: 39.25vw;
        min-height: 32px;
        font-size: 14px;
        line-height: 16px;
    }
    .social__icon-container{
        max-width: 500px;
        left: 42.77vw;
        top: 30px;
    }
    .social__icon-cell{
        transform: scale(65%);
    }
    .tabs{
        margin-top: 50px;
    }
    .tabs__container{
        max-width: 992px;
    }
    .tabs__tabs{
        display: flex;
        max-width: 992px;
        height: 40px;
        position: relative;
    }
    .tabs__panels{
        max-width: 992px;
    }
    .tabs__content{
        max-width: 992px;
    }
    #hidden-radio-first-item:checked ~ .tabs__tabs .tabs__first-tab,
    #hidden-radio-second-item:checked ~ .tabs__tabs .tabs__second-tab,
    #hidden-radio-third-item:checked ~ .tabs__tabs .tabs__third-tab{
        width: 172px;
    }
    #hidden-radio-first-item:checked ~ .tabs__tabs .tabs__first-tab::after,
    #hidden-radio-second-item:checked ~ .tabs__tabs .tabs__second-tab::after,
    #hidden-radio-third-item:checked ~ .tabs__tabs .tabs__third-tab::after{
        width: 172px;
    }
    .tabs__first-tab{
        width: 156px;
    }
    .tabs__second-tab{    
        width: 156px;
    }
    .tabs__third-tab{    
        width: 156px;
    }
    .tabs__content{
        max-width: 992px;
        height: 386px;
    }
    .tabs__title{
        max-width: 47.16vw;
        left: 9.76vw;
        height: 89px;
        font-size: 24px;
        line-height: 33px;
    }
    .tabs__lorem-text{
        max-width: 47.16vw;
        height: 112px;
        top: 127px;
        left: 9.76vw;
        padding: 3px;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }
    .tabs__button{
        width: 232px;
        height: 58px;
        left: 100px;
        bottom: 50px;
    }
    .tabs__content > img{
        width: 38.86vw;
        height: 385px;
    }
    .about__container{
        max-width: 992px;
    }
    .about__header-title{
        height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .about__header-separator{
        width: 142px;
    }
    .about__header-subtitle{
        height: 21px;
        margin-top: 32px;
        margin-bottom: 65px;
        font-size: 14px;
        line-height: 16px; 
    }
    .about__icon-container{
        max-width: 170px;
        height: 170px;
    }
    .about__footer{
        justify-content: space-between;
    }
    .about__footer-content{
        max-width: 318px;
        height: 310px;
        margin-right: none;
    }
    div.about__footer-content h4{
        max-width: 318px;
        height: 82px;
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 25px;
    }
    div.about__footer-content h5{
        max-width: 318px;
        height: 64px;
        padding-left: 4px;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }
    div.about__footer-content img{
        max-width: 147px;
        height: 147px;
    }
    .pricing__container{
        max-width: 1024px;
        height: 770px;
    }
    .pricing__header{
        margin-bottom: 50px;
    }
    .pricing__header-title{
        max-width: 992px;
        height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .pricing__header-subtitle{
        margin-top: 32px;
        max-width: 982px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .pricing__header-title::after{
        width: 143px;
    }
    .pricing__prices-container{
        max-width: 992px;
        height: 540px;
        left: 14px;
    }
    .pricing__prices{
        max-width: 317px;
        height: 453px;
    }
    .pricing__prices-title{
        height: 53px;
    }
    .pricing__prices-bucks{
        height: 88px;
    }
    .pricing__prices-content{
        height: 44px;
    }
    .pricing__prices-free{
        height: 44px;
    }
    .reviews{
        max-width: 1024px;
    }
    .reviews__container{
        margin: 0 auto;
        max-width: 992px;
    }
    .reviews__header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__header-title{
        min-height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .reviews__header-title::after{
        width: 142px;
    }
    .reviews__header-subtitle{
        font-size: 14px;
        line-height: 16px;
    }
    .reviews__text-bubbles{
        display: flex;
        justify-content: center;
        margin-top: 83px;
    }
    .reviews__qoutes{
        max-width: 317px;
        min-height: 180px;
        margin-right: 20px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 16px;
    }
    .reviews__qoutes::after{
        width: 25.7px;
        height: 20px;
    }
    .reviews__employees-container{
        max-width: 992px;
    }
    .reviews__employees{
        max-width: 317px;
    }
    .reviews__employees > img{
        max-width: 63px;
        height: 63px;
    }
    .reviews__employees-names{
        max-width: 231px;
        height: 36px;
        margin-left: 85px;
        font-size: 18px;
        line-height: 25px;
    }
    .reviews__employess-positions{
        max-width: 231px;
        margin-left: 95px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .banner-2__container{
        max-width: 992px;
        min-height: 338px;
    }
    .banner-2__header{
        max-width: 992px;
    }
    .banner-2__header-title{
        min-height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .banner-2__header-title::after{
        left: calc(50% - 70px);
        width: 140px;
    }
    .banner-2__header-subtitle{
        min-height: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .banner-2__button{
        width: 318px;
        height: 58px; 
    }
    .banner-2__button:hover{
        border: 2px solid #EC7979;
        color: #EC7979;
    }
    .banner-2__button:active{
        border: 2px solid #AB4949;
        background: #AB4949;
        color: #FFFFFF;
    }
    .contact__container{
        max-width: 992px;
        height: 650px;
    }
    .contact__header-title{
        min-height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .contact__header-title::after{
        left: calc(50% - 70px);
        width: 140px;
    }
    .contact__header-subtitle{
        font-size: 14px;
        line-height: 16px;
        line-height: 21px;
    }
    .contact__input-container{
        max-width: 992px;
    }
    .contact__input{
        max-width: 486px;
        min-height: 40px;
    }
    .contact__input-container textarea{
        position: absolute;
    }
    .contact__button{
        width: 318px;
    }
    .footer{
        height: 164px;
    }
    .footer__container{
        max-width: 992px;
    }
    .footer__icon-container{
        width: 50%;
        margin-top: 30px;
    }
    .footer__icon-cell{
        transform: scale(90%);
    }
    .footer__copyright{
        min-height: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    
}
@media (max-width : 428px) {
    .banner{
        height: 1005px;
    }
    .banner::after{
        height: 1005px;
    }
    .banner__container{
        margin: 0 auto;
        max-width: 288px;
        height: 1005px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .banner__content-left{
        margin-left: 10px;
        width: 100%;
        display: flex;
    }
    .banner__logo{
        display: none;
    }
    .banner__title{ 
        max-width: 299px;
        min-height: 168px;
        text-align: center;
    }
    .banner__title::after{
        width: 134px;
        left: calc(50% - 67px);
    }
    .banner__subtitle{
        max-width: 288px;
        min-height: 32px;
        text-align: center; 
    }
    .banner__button-1{
        width: 288px;
    }
    .banner__content-right{
        margin-top: 56px;
        max-width: 288px;
        width: 288px;
    }
    .banner__title-right{
        max-width: 288px;
        min-height: 90px;
        font-size: 14px;
        line-height: 19px;
    }
    .banner__input{
        width: 83%;
    }
    .banner__button-2{
    }
    .social{
    }
    .social__text-container{
        margin-right: 0;
    }
    .social__container{
        flex-direction: column;
        align-items: center;
    }
    .social__container{
        max-width: 320px;
        min-height: 239px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social__title{
        margin-top: 31px;
        margin-left: 0;
        width: 287px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        justify-content: center;
    }
    .social__subtitle{
        margin-left: 0;
        margin-top: 13px;
        display: flex;
        max-width: 271px;
        min-height: 48px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .social__subtitle br:first-child{
        display: inline;
    }
    .social__icon-container{
        width: 284px;
        top: 150px;
        justify-content: space-between;
    }
    .social__icon-cell{
        transform: scale(45%);
    }
    .tabs{
        margin-top: 50px;
    }
    .tabs__container{
        max-width: 288px;
        width: 288px;
    }
    .tabs__tabs{
        display: flex;
        width: 288px;
        height: 40px;
        position: relative;
    }
    #hidden-radio-first-item:checked ~ .tabs__tabs .tabs__first-tab,
    #hidden-radio-second-item:checked ~ .tabs__tabs .tabs__second-tab,
    #hidden-radio-third-item:checked ~ .tabs__tabs .tabs__third-tab{
        width: 100px;
    }
    #hidden-radio-first-item:checked ~ .tabs__tabs .tabs__first-tab::after,
    #hidden-radio-second-item:checked ~ .tabs__tabs .tabs__second-tab::after,
    #hidden-radio-third-item:checked ~ .tabs__tabs .tabs__third-tab::after{
        width: 100px;
    }
    .tabs__first-tab{
        width: 93px;
    }
    .tabs__second-tab{    
        width: 93px;
    }
    .tabs__third-tab{    
        width: 93px;
    }
    .tabs__content{
        width: 288px;
        height: 431px;
    }
    .tabs__title{
        left: 25px;
        width: 242.74px;
        max-width: 100%;
        height: 112px;
        font-size: 18px;
        line-height: 25px;
    }
    .tabs__lorem-text{
        max-width: 100%;
        width: 242.74px;
        height: 180px;
        top: 141px;
        left: 25px;
        padding: 3px;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }
    .tabs__button{
        width: 242px;
        height: 74px;
        left: 25px;
        bottom: 30px;
    }
    .tabs__content > img{
        width: 398px;
        height: 385px;
        display: none;
    }
    .about__container{
        max-width: 288px;
        width: 288px;
    }
    .about__header-title{
        height: 120px;
        font-size: 18px;
        line-height: 21px;
    }
    .about__header-separator{
        width: 134px;
    }
    .about__header-subtitle{
        height: 21px;
        margin-top: 32px;
        margin-bottom: 65px;
        font-size: 13px;
        line-height: 15px;
    }
    .about__icon-container{
        width: 170px;
        height: 170px;
    }
    .about__footer{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about__footer-content{
        width: 288px;
        height: 318px;
        margin-right: none;
    }
    div.about__footer-content h4{
        width: 100%;
    }
    div.about__footer-content img{
        width: 147px;
        height: 147px;
    }
    .pricing__container{
        max-width: 320px;
        min-height: 1480px;
    }
    .pricing__header{
        margin-bottom: 50px;
    }
    .pricing__header-title{
        width: 288px;
        font-size: 24px;
        line-height: 28px;
    }
    .pricing__header-subtitle{
        margin-top: 32px;
        width: 288px;
        height: 32px;
        font-size: 14px;
        line-height: 16px
    }
    .pricing__header-title::after{
        width: 134px;
    }
    .pricing__prices-container{
        width: 288px;
        left: 14px;
        flex-wrap: wrap;
    }
    .pricing__prices-container{
        width: 288px;
    }
    .pricing__prices{
        width: 288px;
        height: 400px;
    }
    .pricing__prices-title{
        width: 288px;
        height: 47px;
        font-size: 18px;
        line-height: 25px;
    }
    .pricing__prices-bucks{
        width: 288px;
        height: 78px;
        font-size: 24px;
        line-height: 28px;
    }
    .pricing__prices-content{
        width: 288px;
        height: 39px;
        font-size: 14px;
        line-height: 16px;
    }
    .pricing__prices-free{
        width: 288px;
        height: 39px;
        font-size: 14px;
        line-height: 16px;
    }
    .reviews{
        max-width: 320px;
        margin-top: 50px;
    }
    .reviews__container{
        margin: 0 auto;
        max-width: 288px;
    }
    .reviews__header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__header-title::after{
        width: 134px;
        left: 77px;
    }
    .reviews__text-bubbles{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1.5em;
    }
    .reviews__qoutes{
        display: none;
        max-width: 100%;
        min-height: 180px;
        margin-right: 0;
    }
    .reviews__employees-container{
        flex-wrap: wrap;
    }
    .reviews__employees{
        width: 317px;
        display: none;
        left: 20px;
    }
    .reviews__employees > img{
        width: 63px;
        height: 63px;
    }
    .reviews__employees-names{
        height: 36px;
        font-size: 14px;
        line-height: 19px;
    }
    .reviews__employess-positions{
        margin-left: 95px;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .reviews__dots{
        position: relative;
        left: 76px;
        top: 30px;
    }
    .reviews__first-dot{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #86878B;
    }
    .reviews__second-dot{
        position: absolute;
        left: 50px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #86878B;
    }
    .reviews__third-dot{
        position: absolute;
        left: 100px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #86878B;
    }
    #hidden-radio-2-first-item:checked ~ .reviews__dots .reviews__first-dot,
    #hidden-radio-2-second-item:checked ~ .reviews__dots .reviews__second-dot,
    #hidden-radio-2-third-item:checked ~ .reviews__dots .reviews__third-dot{
        background-color: #86878B;
    }
    #hidden-radio-2-first-item:checked ~ .reviews__employees-container #reviews__first-employee,
    #hidden-radio-2-second-item:checked ~ .reviews__employees-container #reviews__second-employee,
    #hidden-radio-2-third-item:checked ~ .reviews__employees-container #reviews__third-employee{
        display: flex;
    }
    #hidden-radio-2-first-item:checked ~ .reviews__text-bubbles #reviews__first-qoute,
    #hidden-radio-2-second-item:checked ~ .reviews__text-bubbles #reviews__second-qoute,
    #hidden-radio-2-third-item:checked ~ .reviews__text-bubbles #reviews__third-qoute{
        display: flex;
    }
    .banner-2__container{
        max-width: 288px;
        min-height: 358px;
    }
    .banner-2__header{
        max-width: 288px;
    }
    .banner-2__button{
        width: 287px;
        height: 50px; 
    }
    .contact__container{
        max-width: 288px;
        height: 900px;
    }
    .contact__input-container{
        max-width: 288px;
    }
    .contact__input{
        max-width: 288px;
        margin-left: 0;
        min-height: 40px;
        width: 100%;
    }
    .contact__input-container textarea{
        position: static;
    }
    .contact__button{
        width: 288px;
        height: 50px;
    }
    .footer{
        height: 164px;
    }
    .footer__container{
        max-width: 288px;
    }
    .footer__icon-cell{
        transform: scale(55%);
    }
    .footer__icon-container{
        width: 100%;
        margin-top: 30px;
    }
}