@font-face {
    font-family:"Open Sans";
    src: url(/fonts/Open_sans.ttf);
}
@font-face {
    font-family:"Raleway";
    src: url(/fonts/Raleway.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.section-social{
    margin: 0 auto;
    background: #F8EFEF;
}
.section-social__container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    height: 140px;
    display: flex;
    position: relative;
}
.section-social__text-container{
    max-width: 470px;
    margin-right: 50px;
}
.section-social__title{
    min-height: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #333333;
}
.section-social__subtitle{
    min-height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #86878B;
}
.section-social__subtitle br:first-child{
    display: none;
}
.section-social__icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    cursor: pointer;
}
.section-social__icon-cell{
}
.section-social__icon-container:hover{
    opacity: 65%;
}
.section-social__facebook-icon{
    fill: #CCCCCC;
}
.section-social__facebook-icon:hover{
    fill: #3b5998;
}
.section-social__twitter-icon{
    fill: #CCCCCC;
}
.section-social__twitter-icon:hover{
    fill: #1d9bf0;
}
.section-social__linkedin-icon{
    fill: #CCCCCC;
}
.section-social__linkedin-icon:hover{
    fill: #010101;
}
.section-social__pinterest-icon{
    fill: #CCCCCC;
}
.section-social__pinterest-icon:hover{
    fill: #cc0000;
}
.section-social__instagram-icon{
    fill: #CCCCCC;
}
.section-social__instagram-icon:hover{
    fill: #000000;
}
.section-social__github-icon{
    fill: #CCCCCC;
}
.section-social__github-icon:hover{
    fill: #24292f;
}
.section-social__rss-icon{
    fill: #CCCCCC;
}
.section-social__rss-icon:hover{
    fill: #f76300;
}
.section-tabs{
    margin-top: 99px;
}
.section-tabs__container{
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.section-tabs__tabs{
    display: flex;
    max-width: 1170px;
    height: 40px;
    position: relative;
}
.hidden-radio{
    display: none;
}
#hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab,
#hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab,
#hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab{
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    width: 203px;
    position: relative;
}
#hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab::after,
#hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab::after,
#hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 35px;
    width: 203px;
    height: 10px;
    background-color: white;
}
.section-tabs__first-tab{
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.section-tabs__second-tab{    
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.section-tabs__third-tab{    
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.section-tabs__content{
    box-sizing: border-box;
    position: relative;
    max-width: 1170px;
    min-height: 501px;
    border: 1px solid #C6CBCD;
    display: none;
}
.section-tabs__title{
    max-width: 570px;
    min-height: 124px;
    position: absolute;
    top: 1px;
    left: 8.54vw;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000;
}
.section-tabs__lorem-text{
    max-width: 570px;
    min-height: 210px;
    position: absolute;
    top: 101px;
    left: 4.27vw;
    box-sizing: border-box;
    padding: 4.27vw;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}
.section-tabs__button{
    width: 270px;
    min-height: 58px;
    position: absolute;
    left: 8.54vw;
    bottom: 50px;
    cursor: pointer;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #EC7979;
    border: none;
}
.section-tabs__button:hover{
    background: #AB4949;
}
.section-tabs__button:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.section-tabs__content > img{
    float: right;
    width: 470px;
    height: 500px;
}
#hidden-radio-first-item:checked ~ .section-tabs__panels #section-tabs-first-panel,
#hidden-radio-second-item:checked ~ .section-tabs__panels #section-tabs-second-panel,
#hidden-radio-third-item:checked ~ .section-tabs__panels #section-tabs-third-panel{
    display: block;
}
.section-about{
    margin-top: 50px;
}
.section-about__container{
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
}
.section-about__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-about__header-title{
    display: flex;
    align-items: center;
    height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    color: #000000;
}
.section-about__header-separator{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    border-top: 0px;
}
.section-about__header-subtitle{
    display: flex;
    align-items: center;
    height: 21px;
    margin-top: 40px;
    margin-bottom: 71px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;    
}
.section-about__icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
}
.section-about__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-about__footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    height: 383px;
}
div.section-about__footer-content h4{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 369px;
    height: 100px;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}
div.section-about__footer-content h5{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 369px;
    padding-left: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.section-pricing{
    margin-top: 60px;
    background: #F5F5F5;
}
.section-pricing__container{
    margin: 0 auto;
    max-width: 1508px;
    min-height: 900px;
    background: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}
.section-pricing__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}
.section-pricing__header-title{
    margin-top: 50px;
    max-width: 1170px;
    height: 150px;
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.section-pricing__header-subtitle{
    margin-top: 40px;
    max-width: 1170px;
    height: 21px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.section-pricing__header-title::after{
    position: absolute;
    bottom: 10px;
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.section-pricing__footer{
    max-width: 1508px;
    display: flex;
    justify-content: center;
}
.section-pricing__prices-container{
    max-width: 1170px;
    width: 77.58vw;
    height: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-pricing__prices{
    width: 24.53vw;
    max-width: 370px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-pricing__prices:hover{
    align-self: baseline;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    cursor: pointer;
}
.section-pricing__prices-title{
    width: 24.53vw;
    max-width: 370px;
    min-height: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #FFFFFF;
}
.section-pricing__prices-bucks{
    width: 24.53vw;
    max-width: 370px;
    height: 100px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.section-pricing__prices-content{
    width: 24.53vw;
    max-width: 370px;
    height: 50px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.section-pricing__prices-free{
    width: 24.53vw;
    max-width: 370px;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
}
.section-reviews{
    margin-top: 50px;
    max-width: 1508px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.hidden-radio-2{
    display: none;
}
.section-reviews__container{
    margin: 0 auto;
    max-width: 1170px;
}
.section-reviews__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-reviews__header-title{
    height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;    
    color: #000000;
    position: relative;
}
.section-reviews__header-title::after{
    position: absolute;
    bottom: 10px;
    left: calc(100%/2.8);
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.section-reviews__header-subtitle{
    margin-top: 40px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.section-reviews__text-bubbles{
    display: flex;
    justify-content: center;
    margin-top: 83px;
}
.section-reviews__qoutes{
    max-width: 370px;
    min-height: 180px;
    margin-right: 30px;
    padding: 0 7px;
    background: #E2E2E2;
    border-radius: 10px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #86878B;
    position: relative;
}
.section-reviews__qoutes::after{
    content: '';
    width: 30px;
    height: 20px;
    transform: rotate(-180deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #E2E2E2;
    position: absolute;
    bottom: -20px;
    left: 70px;
    display: block;
}
.section-reviews__employees-container{
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
}
.section-reviews__employees{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.section-reviews__employees > img{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.section-reviews__employees-names{
    min-height: 54px;
    margin-left: 6.63vw;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}
.section-reviews__employess-positions{
    max-width: 270px;
    margin-left: 6.63vw;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    color: #000000;
}
@media(max-width : 1024px) {
    .section-social{
    }
    .section-social__container{
        max-width: 1024px;
        min-height: 105px;
    }
    .section-social__title{
        margin-left: 1.56vw;
        max-width: 402px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
    }
    .section-social__subtitle{
        margin-left: 1.56vw;
        top: 60px;
        max-width: 39.25vw;
        min-height: 32px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-social__icon-container{
        max-width: 500px;
        left: 42.77vw;
        top: 30px;
    }
    .section-social__icon-cell{
        transform: scale(65%);
    }
    .section-tabs{
        margin-top: 50px;
    }
    .section-tabs__container{
        max-width: 992px;
    }
    .section-tabs__tabs{
        display: flex;
        max-width: 992px;
        height: 40px;
        position: relative;
    }
    .section-tabs__panels{
        max-width: 992px;
    }
    .section-tabs__content{
        max-width: 992px;
    }
    #hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab,
    #hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab,
    #hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab{
        width: 172px;
    }
    #hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab::after,
    #hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab::after,
    #hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab::after{
        width: 172px;
    }
    .section-tabs__first-tab{
        width: 156px;
    }
    .section-tabs__second-tab{    
        width: 156px;
    }
    .section-tabs__third-tab{    
        width: 156px;
    }
    .section-tabs__content{
        max-width: 992px;
        height: 386px;
    }
    .section-tabs__title{
        max-width: 47.16vw;
        left: 9.76vw;
        height: 89px;
        font-size: 24px;
        line-height: 33px;
    }
    .section-tabs__lorem-text{
        max-width: 47.16vw;
        height: 112px;
        top: 127px;
        left: 9.76vw;
        padding: 3px;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }
    .section-tabs__button{
        width: 232px;
        height: 58px;
        left: 100px;
        bottom: 50px;
    }
    .section-tabs__content > img{
        width: 38.86vw;
        height: 385px;
    }
    .section-about__container{
        max-width: 992px;
    }
    .section-about__header-title{
        height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .section-about__header-separator{
        width: 142px;
    }
    .section-about__header-subtitle{
        height: 21px;
        margin-top: 32px;
        margin-bottom: 65px;
        font-size: 14px;
        line-height: 16px; 
    }
    .section-about__icon-container{
        max-width: 170px;
        height: 170px;
    }
    .section-about__footer{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .section-about__footer-content{
        max-width: 318px;
        height: 310px;
        margin-right: none;
    }
    div.section-about__footer-content h4{
        max-width: 318px;
        height: 82px;
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 25px;
    }
    div.section-about__footer-content h5{
        max-width: 318px;
        height: 64px;
        padding-left: 4px;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }
    div.section-about__footer-content img{
        max-width: 147px;
        height: 147px;
    }
    .section-pricing__container{
        max-width: 1024px;
        height: 770px;
    }
    .section-pricing__header{
        margin-bottom: 50px;
    }
    .section-pricing__header-title{
        max-width: 992px;
        height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .section-pricing__header-subtitle{
        margin-top: 32px;
        max-width: 982px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-pricing__header-title::after{
        width: 143px;
    }
    .section-pricing__prices-container{
        max-width: 992px;
        height: 540px;
        left: 14px;
    }
    .section-pricing__prices{
        max-width: 317px;
        height: 453px;
    }
    .section-pricing__prices-title{
        height: 53px;
    }
    .section-pricing__prices-bucks{
        height: 88px;
    }
    .section-pricing__prices-content{
        height: 44px;
    }
    .section-pricing__prices-free{
        height: 44px;
    }
    .section-reviews{
        max-width: 1024px;
    }
    .section-reviews__container{
        margin: 0 auto;
        max-width: 992px;
    }
    .section-reviews__header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-reviews__header-title{
        min-height: 120px;
        font-size: 24px;
        line-height: 28px;
    }
    .section-reviews__header-title::after{
        width: 142px;
    }
    .section-reviews__header-subtitle{
        font-size: 14px;
        line-height: 16px;
    }
    .section-reviews__text-bubbles{
        display: flex;
        justify-content: center;
        margin-top: 83px;
    }
    .section-reviews__qoutes{
        max-width: 317px;
        min-height: 180px;
        margin-right: 20px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-reviews__qoutes::after{
        width: 25.7px;
        height: 20px;
    }
    .section-reviews__employees-container{
        max-width: 992px;
    }
    .section-reviews__employees{
        max-width: 317px;
    }
    .section-reviews__employees > img{
        max-width: 63px;
        height: 63px;
    }
    .section-reviews__employees-names{
        max-width: 231px;
        height: 36px;
        margin-left: 85px;
        font-size: 18px;
        line-height: 25px;
    }
    .section-reviews__employess-positions{
        max-width: 231px;
        margin-left: 95px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width : 428px) {
    .section-social{
    }
    .section-social__text-container{
        margin-right: 0;
    }
    .section-social__container{
        flex-direction: column;
        align-items: center;
    }
    .section-social__container{
        max-width: 320px;
        min-height: 239px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-social__title{
        margin-top: 31px;
        margin-left: 0;
        width: 287px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        justify-content: center;
    }
    .section-social__subtitle{
        margin-left: 0;
        margin-top: 13px;
        display: flex;
        max-width: 271px;
        min-height: 48px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-social__subtitle br:first-child{
        display: inline;
    }
    .section-social__icon-container{
        width: 284px;
        top: 150px;
        justify-content: space-between;
    }
    .section-social__icon-cell{
        transform: scale(45%);
    }
    .section-tabs{
        margin-top: 50px;
    }
    .section-tabs__container{
        max-width: 288px;
        width: 288px;
    }
    .section-tabs__tabs{
        display: flex;
        width: 288px;
        height: 40px;
        position: relative;
    }
    #hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab,
    #hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab,
    #hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab{
        width: 100px;
    }
    #hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab::after,
    #hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab::after,
    #hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab::after{
        width: 100px;
    }
    .section-tabs__first-tab{
        width: 93px;
    }
    .section-tabs__second-tab{    
        width: 93px;
    }
    .section-tabs__third-tab{    
        width: 93px;
    }
    .section-tabs__content{
        width: 288px;
        height: 431px;
    }
    .section-tabs__title{
        left: 25px;
        width: 242.74px;
        max-width: 100%;
        height: 112px;
        font-size: 18px;
        line-height: 25px;
    }
    .section-tabs__lorem-text{
        max-width: 100%;
        width: 242.74px;
        height: 180px;
        top: 141px;
        left: 25px;
        padding: 3px;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }
    .section-tabs__button{
        width: 242px;
        height: 74px;
        left: 25px;
        bottom: 30px;
    }
    .section-tabs__content > img{
        width: 398px;
        height: 385px;
        display: none;
    }
    .section-about__container{
        max-width: 288px;
        width: 288px;
    }
    .section-about__header-title{
        height: 120px;
        font-size: 18px;
        line-height: 21px;
    }
    .section-about__header-separator{
        width: 134px;
    }
    .section-about__header-subtitle{
        height: 21px;
        margin-top: 32px;
        margin-bottom: 65px;
        font-size: 13px;
        line-height: 15px;
    }
    .section-about__icon-container{
        width: 170px;
        height: 170px;
    }
    .section-about__footer{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .section-about__footer-content{
        width: 288px;
        height: 318px;
        margin-right: none;
    }
    div.section-about__footer-content h4{
        width: 100%;
    }
    div.section-about__footer-content img{
        width: 147px;
        height: 147px;
    }
    .section-pricing__container{
        max-width: 320px;
        min-height: 1480px;
    }
    .section-pricing__header{
        margin-bottom: 50px;
    }
    .section-pricing__header-title{
        width: 288px;
        font-size: 24px;
        line-height: 28px;
    }
    .section-pricing__header-subtitle{
        margin-top: 32px;
        width: 288px;
        height: 32px;
        font-size: 14px;
        line-height: 16px
    }
    .section-pricing__header-title::after{
        width: 134px;
    }
    .section-pricing__prices-container{
        width: 288px;
        height: 1233px;
        left: 14px;
        flex-wrap: wrap;
    }
    .section-pricing__prices-container{
        width: 288px;
    }
    .section-pricing__prices{
        width: 288px;
        height: 400px;
    }
    .section-pricing__prices-title{
        width: 288px;
        height: 47px;
        font-size: 18px;
        line-height: 25px;
    }
    .section-pricing__prices-bucks{
        width: 288px;
        height: 78px;
        font-size: 24px;
        line-height: 28px;
    }
    .section-pricing__prices-content{
        width: 288px;
        height: 39px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-pricing__prices-free{
        width: 288px;
        height: 39px;
        font-size: 14px;
        line-height: 16px;
    }
    .section-reviews{
        max-width: 320px;
        margin-top: 50px;
    }
    .section-reviews__container{
        margin: 0 auto;
        max-width: 288px;
    }
    .section-reviews__header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-reviews__header-title::after{
        width: 134px;
        left: 77px;
    }
    .section-reviews__text-bubbles{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1.5em;
    }
    .section-reviews__qoutes{
        display: none;
        max-width: 100%;
        min-height: 180px;
        margin-right: 0;
    }
    .section-reviews__employees-container{
        flex-wrap: wrap;
    }
    .section-reviews__employees{
        width: 317px;
        display: none;
        left: 20px;
    }
    .section-reviews__employees > img{
        width: 63px;
        height: 63px;
    }
    .section-reviews__employees-names{
        height: 36px;
        font-size: 14px;
        line-height: 19px;
    }
    .section-reviews__employess-positions{
        margin-left: 95px;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .section-reviews__dots{
        position: relative;
        left: 76px;
        top: 30px;
    }
    .section-reviews__first-dot{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #86878B;
    }
    .section-reviews__second-dot{
        position: absolute;
        left: 50px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #86878B;
    }
    .section-reviews__third-dot{
        position: absolute;
        left: 100px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #86878B;
    }
    #hidden-radio-2-first-item:checked ~ .section-reviews__dots .section-reviews__first-dot,
    #hidden-radio-2-second-item:checked ~ .section-reviews__dots .section-reviews__second-dot,
    #hidden-radio-2-third-item:checked ~ .section-reviews__dots .section-reviews__third-dot{
        background-color: #86878B;
    }
    #hidden-radio-2-first-item:checked ~ .section-reviews__employees-container #section-reviews__first-employee,
    #hidden-radio-2-second-item:checked ~ .section-reviews__employees-container #section-reviews__second-employee,
    #hidden-radio-2-third-item:checked ~ .section-reviews__employees-container #section-reviews__third-employee{
        display: flex;
    }
    #hidden-radio-2-first-item:checked ~ .section-reviews__text-bubbles #section-reviews__first-qoute,
    #hidden-radio-2-second-item:checked ~ .section-reviews__text-bubbles #section-reviews__second-qoute,
    #hidden-radio-2-third-item:checked ~ .section-reviews__text-bubbles #section-reviews__third-qoute{
        display: flex;
    }
}