@font-face {
    font-family:"Open Sans";
    src: url(/fonts/Open_sans.ttf);
}
@font-face {
    font-family:"Raleway";
    src: url(/fonts/Raleway.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.section-social{

}
.section-social__container{
    margin: 0 auto;
    width: 1508px;
    height: 140px;
    background: #F8EFEF;
    position: relative;
}
.section-social__container{
    margin: 0 auto;
    width: 1540px;
    height: 140px;
    position: relative;
}
.section-social__title{
    position: absolute;
    left: 170px;
    width: 470px;
    height: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #333333;
}
.section-social__subtitle{
    position: absolute;
    left: 170px;
    top: 80px;
    width: 470px;
    height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #86878B;
}
.section-social__icon-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 666px;
    left: 670px;
    top: 45px;
    cursor: pointer;
}
.section-social__icon-cell{
    margin-right: 45px;
}
.section-social__icon-container:hover{
    opacity: 65%;
}
.section-social__facebook-icon{
    fill: #CCCCCC;
}
.section-social__facebook-icon:hover{
    fill: #3b5998;
}
.section-social__twitter-icon{
    fill: #CCCCCC;
}
.section-social__twitter-icon:hover{
    fill: #1d9bf0;
}
.section-social__linkedin-icon{
    fill: #CCCCCC;
}
.section-social__linkedin-icon:hover{
    fill: #010101;
}
.section-social__pinterest-icon{
    fill: #CCCCCC;
}
.section-social__pinterest-icon:hover{
    fill: #cc0000;
}
.section-social__instagram-icon{
    fill: #CCCCCC;
}
.section-social__instagram-icon:hover{
    fill: #000000;
}
.section-social__github-icon{
    fill: #CCCCCC;
}
.section-social__github-icon:hover{
    fill: #24292f;
}
.section-social__rss-icon{
    fill: #CCCCCC;
}
.section-social__rss-icon:hover{
    fill: #f76300;
}
.section-tabs{
    margin-top: 99px;
}
.section-tabs__container{
    box-sizing: border-box;
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.section-tabs__tabs{
    display: flex;
    width: 1170px;
    height: 40px;
    position: relative;
}
.hidden-radio{
    display: none;
}
#hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab,
#hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab,
#hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab{
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    width: 203px;
    position: relative;
}
#hidden-radio-first-item:checked ~ .section-tabs__tabs .section-tabs__first-tab::after,
#hidden-radio-second-item:checked ~ .section-tabs__tabs .section-tabs__second-tab::after,
#hidden-radio-third-item:checked ~ .section-tabs__tabs .section-tabs__third-tab::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 35px;
    width: 203px;
    height: 10px;
    background-color: white;
}
.section-tabs__first-tab{
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.section-tabs__second-tab{    
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.section-tabs__third-tab{    
    width: 184px;
    height: 40px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.section-tabs__content{
    box-sizing: border-box;
    position: relative;
    width: 1170px;
    height: 501px;
    border: 1px solid #C6CBCD;
    display: none;
}
.section-tabs__title{
    width: 570px;
    height: 124px;
    position: absolute;
    top: 1px;
    left: 100px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000;
}
.section-tabs__lorem-text{
    width: 570px;
    height: 210px;
    position: absolute;
    top: 101px;
    left: 50px;
    box-sizing: border-box;
    padding: 50px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}
.section-tabs__button{
    width: 270px;
    height: 58px;
    position: absolute;
    left: 100px;
    bottom: 54px;
    cursor: pointer;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #EC7979;
    border: none;
}
.section-tabs__button:hover{
    background: #AB4949;
}
.section-tabs__button:active{
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.section-tabs__content > img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 470px;
    height: 500px;
}
#hidden-radio-first-item:checked ~ .section-tabs__panels #section-tabs-first-panel,
#hidden-radio-second-item:checked ~ .section-tabs__panels #section-tabs-second-panel,
#hidden-radio-third-item:checked ~ .section-tabs__panels #section-tabs-third-panel{
    display: block;
}
.section-about{
    margin-top: 50px;
}
.section-about__container{
    box-sizing: border-box;
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
}
.section-about__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-about__header-title{
    display: flex;
    align-items: center;
    height: 150px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    color: #000000;
}
.section-about__header-separator{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    border-top: 0px;
}
.section-about__header-subtitle{
    display: flex;
    align-items: center;
    height: 21px;
    margin-top: 40px;
    margin-bottom: 71px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;    
}
.section-about__icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
}
.section-about__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section-about__footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 383px;
    margin-right: 30px;
}
div.section-about__footer-content h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 100px;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}
div.section-about__footer-content h5{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.section-pricing{
    margin-top: 60px;
}
.section-pricing__container{
    margin: 0 auto;
    width: 1508px;
    height: 900px;
    background: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}
.section-pricing__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}
.section-pricing__header-title{
    margin-top: 50px;
    width: 1170px;
    height: 150px;
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.section-pricing__header-subtitle{
    margin-top: 40px;
    width: 1170px;
    height: 21px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.section-pricing__header-title::after{
    position: absolute;
    bottom: 10px;
    content: '';
    display: block;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}
.section-pricing__prices-container{
    width: 1170px;
    height: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 170px;
}
.section-pricing__prices{
    width: 370px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-pricing__prices:hover{
    align-self: baseline;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    cursor: pointer;
}
.section-pricing__prices-title{
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #FFFFFF;
}
.section-pricing__prices-bucks{
    width: 100%;
    height: 100px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.section-pricing__prices-content{
    width: 100%;
    height: 50px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #86878B;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
}
.section-pricing__prices-free{
    width: 100%;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
}